@{
    ViewData["Title"] = "Home Page";
}

<br />

<div class="text-center">
    <h1 class="display-4">Welcome to <span class="text-danger font-weight-normal">MusicTube</span></h1>

    <p>Enjoy the best music listening application.</p>
</div>
