@{
    ViewData["Title"] = "Privacy Policy";
}

<br />

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <p>Use this page to detail your site's privacy policy.</p>
</div>

