@using Microsoft.AspNetCore.Identity
@using MusicTube.Domain.Identity

@inject SignInManager<MusicTubeUser> SignInManager
@inject UserManager<MusicTubeUser> UserManager

<ul class="navbar-nav bg-dark">
    @if (SignInManager.IsSignedIn(User))
    {
        var user = new MusicTubeUser();
        if (User.IsInRole("Creator"))
        {
            user = (Creator)UserManager.GetUserAsync(User).Result;
            if (((Creator)user).PremiumPlanId == null)
            {
                <li class="nav-item align-content-center mt-2 mr-2">
                    <a class="btn btn-outline-warning" asp-controller="Account" asp-action="PremiumPlan">
                        Get Premium Now
                    </a>
                </li>
            }
            else
            {
                <li class="nav-item align-content-center mt-2 mr-2">
                    <a class="btn btn-outline-warning" asp-controller="Account" asp-action="PremiumPlan">
                        Subscribed
                    </a>
                </li>
            }
        } else
        {
            user = (Listener)UserManager.GetUserAsync(User).Result;
        }


        <li class="nav-item">
            <a class="nav-link text-white" asp-controller="Account" asp-action="Settings">
                <span>
                    @user.Name @user.Surname
                    <img height="35" width="35" class=" mx-2 rounded-circle"
                         src="~/custom/img/profile-pictures/@user.ImageURL" />
                </span>
            </a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-controller="Account" asp-action="Logout">
                <button type="submit" class="nav-link text-danger ml-1 btn btn-link">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-white" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>
