@model MusicTube.Domain.DTO.SongDto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="UTF-8">
    <title>Register - Healthy Diet</title>

    <!--    JQuery Import   -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!--    Bootstrap CSS Import   -->
    <link rel="stylesheet" href="~/custom/css/bootstrap.css" />

    <!--    Font Awesome CSS Import   -->
    <link rel="stylesheet" href="~/custom/fontawesome/css/all.css">

    <!--    Bootstrap JS Imports   -->
    <script src="~/custom/js/bootstrap.js"></script>
</head>

<style>

    .wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
        .wrapper .file-upload {
            height: 200px;
            width: 200px;
            border-radius: 100px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 4px solid #FFFFFF;
            overflow: hidden;
            background-image: linear-gradient(to bottom, #2590EB 50%, #FFFFFF 50%);
            background-size: 100% 200%;
            transition: all 1s;
            color: #FFFFFF;
            font-size: 100px;
        }

            .wrapper .file-upload input[type=file] {
                height: 200px;
                width: 200px;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                cursor: pointer;
            }

            .wrapper .file-upload:hover {
                background-position: 0 -100%;
                color: #2590EB;
            }
</style>

<h1 class="text-center mt-5">Create Song</h1>
<br />
<div class="row mb-5">
    <div class="col-md-12">
        <form asp-controller="Songs" asp-action="Create" enctype="multipart/form-data" method="post">

            <div class="form-group text-center">
                <label class="control-label mb-2">Upload your song here</label>
                <div class="wrapper my-3">
                    <div class="file-upload">
                        <input type="file" name="songToUpload" id="songToUpload" />
                        <i class="fa fa-arrow-up"></i>
                    </div>
                </div>
                <p class="text-secondary mt-1">
                    <i><b>.mp3</b> file format accepted</i>
                </p>
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-12">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group col-12">
                <label asp-for="Label" class="control-label"></label>
                <input asp-for="Label" class="form-control" />
                <span asp-validation-for="Label" class="text-danger"></span>
            </div>
            <div class="form-group col-12">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" rows="5" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group col-12">
                <label asp-for="Genre" class="control-label"></label>
                <div>
                    <select class="form-control" asp-for="@Model.Genre" asp-items="Html.GetEnumSelectList<MusicTube.Domain.Enumerations.Genre>()">
                    </select>
                    @Html.ValidationMessageFor(m => m.Genre)
                </div>
            </div>
            @if (Model.Creator.PremiumPlan != null)
            {
                <h4 class="mb-2" style="color:orange;">Premium features</h4>
                <br />
                <hr class="text-secondary w-100" />
                <br />
                <div class="form-group col-12">
                    <div class="form-group col-12 mb-4">
                        @Html.DropDownListFor(z => z.AlbumId,
                                    new SelectList(Model.AllAlbums, "Id", "ArtistName"), "Select the album you want the song to appear on",
                                    new { @class = "form-control" });
                    </div>
                </div>
            }
            <br />
            <div class="form-group col-12">
                <input type="submit" class="btn btn-block btn-primary" />
            </div>
        </form>
        <div class="col-12 mt-4 mb-5">
            <a asp-controller="Songs" asp-action="Index" class="btn btn-outline-info btn-block">Back to List</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}